[submodule "vendor/book-to-skill"]
	path = vendor/book-to-skill
	url = https://github.com/virgiliojr94/book-to-skill.git
	branch = master

[submodule "vendor/lexicalrichness"]
	path = vendor/lexicalrichness
	url = https://github.com/LSYS/LexicalRichness.git
	branch = master

[submodule "vendor/textstat"]
	path = vendor/textstat
	url = https://github.com/textstat/textstat.git
	branch = main

[submodule "vendor/proselint"]
	path = vendor/proselint
	url = https://github.com/amperser/proselint.git
	branch = main

[submodule "vendor/pkuseg-python"]
	path = vendor/pkuseg-python
	url = https://github.com/lancopku/pkuseg-python.git
	branch = master

[submodule "vendor/spacy"]
	path = vendor/spacy
	url = https://github.com/explosion/spaCy.git
	branch = master

[submodule "vendor/pycorrector"]
	path = vendor/pycorrector
	url = https://github.com/shibing624/pycorrector.git
	branch = master

[submodule "vendor/texthero"]
	path = vendor/texthero
	url = https://github.com/jbesomi/texthero.git
	branch = master

[submodule "vendor/opencc"]
	path = vendor/opencc
	url = https://github.com/BYVoid/OpenCC.git
	branch = master

[submodule "vendor/markitdown"]
	path = vendor/markitdown
	url = https://github.com/microsoft/markitdown.git
	branch = main

[submodule "vendor/docling"]
	path = vendor/docling
	url = https://github.com/docling-project/docling.git
	branch = main

[submodule "vendor/text2vec"]
	path = vendor/text2vec
	url = https://github.com/shibing624/text2vec.git
	branch = master

[submodule "vendor/flagem-bedding"]
	path = vendor/flagem-bedding
	url = https://github.com/FlagOpen/FlagEmbedding.git
	branch = master

[submodule "vendor/rapidfuzz"]
	path = vendor/rapidfuzz
	url = https://github.com/rapidfuzz/RapidFuzz.git
	branch = main

[submodule "vendor/deepke"]
	path = vendor/deepke
	url = https://github.com/zjunlp/DeepKE.git
	branch = main
